<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd ">

	<description>Javamelody和spring的集成 </description>
	
    <bean id= "facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor" >
    	<property name ="pointcut" >
    		<bean class="org.springframework.aop.support.JdkRegexpMethodPointcut" >
    			<property name ="pattern" value="com.ddy.dianmai.ops.service.*" />
    		</bean>
        </property>
	</bean>

</beans>